h4{
    text-align: center;
    margin-top: 20px;
    font-size: 55px;
    font-family: Cambria;
    color: #000;
    font-style: oblique;
}
body{
    background-color: #FED44C
}
.box{
    width: 85px;
    height: 55px;
    margin:auto;
     display: inline-block;
      border: 3px solid darkblue;
       vertical-align: middle;
        border-radius: 2px;
         background: peachpuff;
         font-weight: bolder;
         font-size: 50px;
         text-align: center;
         font-style: oblique;
         border-radius: 12px;
         box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}
p{
    font-size: 40px;
    font-weight: bold;
}
.unit{
    text-align: center;
    font-size: 40px;
    color: sienna;
    font-style: oblique;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 35px;

}
.display{
    border-radius: 12px;
    background-color:#FEA358;
    margin-left: 35%;
    margin-right: 100%;
    margin-bottom: 12%;
    margin-top: 12%;
  width: 23%;
  border: 3px solid darkblue;
  padding: 55px;
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.5);
}
